body {
  margin:0;
  padding:0;  
  background: url('forest.jpg') no-repeat center;
  position: relative;
  height: 860px;
  min-height: 700px;
  background-size: cover !important;
 -webkit-background-size: cover !important;
  text-align: center;
   
  }
#box .profile-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#box{
  width: 450px;
  background: rgba(0, 0, 0, 0.637);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top:5%;
  color: white;
  padding-bottom: 5px;
  font-family: 'Century Gothic', sans-serif;
}

#box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

#box h5{
  font-size: 25px;
  letter-spacing: 3px;
}

#box p{
  text-align: justify;
}

#box ul{
  margin: 0;
  padding: 0;
}

#box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}

#box li a {
  color: white;
  font-size: 50px;

}
#box li a:hover{
  color:#b9b9b9;
}

#mainNav .container ul{
  margin: 0;
  padding: 0;
  display : flex;
  justify-content: center;
  align-items: center;
}
#mainNav .container li {
  display: inline-block;
  margin: 0 20px;
}
/* 
  Each of the side choice
*/
#mainNav .container li a{
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  color: #001f3f;
  text-transform: uppercase;
  transition: 0.5s;
}
#mainNav .container ul:hover li a{
  transform: scale(1.5);
  opacity: .2;
  filter: blur(5px);

}
#mainNav .container ul li a:hover{
  transform: scale(2);
  opacity: 1;
  filter:blur(0);
}

#mainNav .container ul li a:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #D2B48C;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1; 
}


#mainNav .container ul li a:hover:before{
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}