body {
  margin:0;
  padding:0;  
  text-align: center;
  
}

.firstpage{
  width: 100vw;
  height: 100vh;
}
.fullpage{
  width: 100vw;
}

#backgroundimage{
  background: url('forest.jpg') no-repeat center;
  background-size: cover;
  z-index: -10000000;
  width : 100vw;
  height : 100vh;
  margin: 0;
}

#welcome .fullpage{
  display:flex;
  justify-content: center;
}

#mainNav  ul{
  position: fixed;
  background: rgb(51,51,51);
  z-index: 10000;
  width: 100vw;
  padding: 10px;
  margin: 0;
  justify-content: center;
  align-items: center;
 
}
#mainNav  li {
  display: inline-block;
  margin: 0 20px;
}
/* 
  Each of the side choice
*/
#mainNav  li a{
  display: block;
  text-decoration: none;
  font-size: 1.5vh;
  font-family: sans-serif;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
}
#mainNav ul:hover li a{
  
  opacity: .2;


}
#mainNav  ul li a:hover{
  transform: scale(2);
  opacity: 1;
  
}

#mainNav ul li a:before{
  content: '';
  width: 100%;
  height: 100%;
  background: #D2B48C;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1; 
}


#mainNav ul li a:hover:before{
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

#backgroundimage{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
 #backgroundimage h1{
  font-size: 7.5vmin;
  font-family: 'Montserrat' , sans-serif;
  z-index:1000;
  text-align: center;
  color:rgb(39,88,107,0.8);
}

#box .profile-img{
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
}

#secondpage.fullpage{
  background: #2B2B2B no-repeat center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: row;
  
}
@media only screen and (max-width: 900px){
#secondpage.fullpage{
  flex-direction: column;
  justify-content: space-around;

}
}

.fullpage #box{
  width: 40vw;
  text-align: center;
  margin: auto;
  margin-top:9vmin;
  /* margin-left: 5%; */
  margin-bottom: 5vh;
  color: white;
  font-family: 'Century Gothic', sans-serif;
}

@media only screen and (max-width: 900px){
.fullpage #box{
  justify-content: center;
  width:70vw;
}
}


#box h1{
  font-size: 5vmin;
  letter-spacing: 4px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

#box h5{
  font-size: 4vmin;
  letter-spacing: 3px;
}

#box p{
  text-align: justify;
  font-size: 3.5vmin;
}

#box ul{
  margin: 0;
  padding: 0;
}

#box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}

#box li a {
  color: white;
  font-size: 50px;

}
#box li a:hover{
  color:#b9b9b9;
}

.skills h1{
  margin: 0;
  display: flex;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: aquamarine;
  margin-bottom:13%;
  font-family: 'Montserrat' , sans-serif;
  font-size: 5vmin;
  
}
.skills h3{
  display:flex;
  font-size: 3vmin;
}
.skills {
  font-family: 'Montserrat' , sans-serif;
  list-style: none;
  padding: 0;
  width: 35vw;
  margin: 10vh 5vw 0vh 0vw;
  color: white;
}

@media only screen and (max-width: 900px){
  .skills{
    list-style: none;
    padding: 0;
    width: 60vw;
    margin:0;
    margin-left:20vw;
  }
} 
.skills li{
  margin: 20px 0;
}
.bar{
  left: 0px;
  background: #353b48;
  display: block;
  height: 2px;
  border: 1px solid rgba(0,0,0,0,0.3);
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 10px #2187e7b3;
}
.bar span{
  height: 2px;
  float:left;
  background: #2187e7;
}

.HTML{
  width: 70%;
}
.CSS{
  width: 65%;
}
.Java{
  width: 80%;
}
.C{
  width: 50%;
}

.JavaScript{
  width: 80%;
}
.REACT{
  width: 50%;
}
.Python{
  width: 70%;
}



/* Now what follows is Resume section */

.education{
  display:flex;
  flex-direction: row;
  margin-top:20vh;
  margin-left: 25vw;

}

#schools{
  margin-left:10vw;
}

@media only screen and (max-width: 900px){
#schools{
  margin:0;
}
}
@media only screen and (max-width: 900px){
  .education{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    margin-top: 10vh;
  }
}
#thirdpage .education h3 span{
  border-bottom: 3px solid #2187e7;
}

#thirdpage .McGill {
  text-align: justify;
  font-family: 'Montserrat' , sans-serif;
}
@media only screen and (max-width: 900px){
  #thirdpage .McGill{
    text-align: center;
    padding: 0px 40px 0px 40px;
  }
} 

#thirdpage .McGill p{
  font: 20px/20px 'librebaskerville-italic', serif;
  font-style: italic;
  font-weight: lighter;
}

.Mariano {
  text-align: justify;
  font-family: 'Montserrat' , sans-serif;
}
@media only screen and (max-width: 900px){
.Mariano{
  text-align: center;
  padding: 0px 40px 0px 40px;
}
}
.Mariano h1{
  font-family: 'montserrat',sans-serif;
}


.Mariano h2 {
  font: italic lighter 20px/20px 'librebaskerville-italic', serif;
}

.Mariano h3{
  font: italic lighter 20px/10px 'librebaskerville-italic', serif;
}


.work{
  display:flex;
  flex-direction: row;
  margin-top:10vh;
  margin-left: 25vw;
}
@media only screen and (max-width: 900px){
  .work{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    margin-top: 10vh;
  }
}
.work h3 span{
  font-family:'Montserrat', sans-serif;
  display: block;
  border-bottom: 3px solid #2187e7;
}

#jobs{
  margin-left:10vw;
}

@media only screen and (max-width: 900px){
  #jobs{
    margin:0;
  }
}
.firstJob{
  text-align: justify;
  font-family: 'Montserrat' , sans-serif;
  display: flex;
  flex-direction: column;
}

.firstJob ul {
  flex-wrap: wrap;
  /* list-style-position: in; */
  font: italic lighter 20px/20px 'librebaskerville-italic', serif;
  padding-left: 10px;
  padding-right:50px;
  
}
@media only screen and (max-width: 900px){
  .firstJob {
    font: bold 15px/15px 'Montserrat' , sans-serif;
    text-align: center;

  }
}
@media only screen and (max-width: 900px){
  .firstJob ul {
    list-style-position: outside;
    text-align: justify;
    font: italic lighter 15px/18px 'librebaskerville-italic', serif;
    margin-left:10px;
    padding-right:10px;
  }
}
@media only screen and (max-width: 900px){
  .firstJob ul li{
    margin-left: 5px;    
  }
}

.secondJob{
  margin-top:5vh;
  text-align: justify;
  font-family: 'Montserrat' , sans-serif;
  display: flex;
  flex-direction: column;
}

.secondJob ul {
  list-style-position: outside;
  font: italic lighter 20px/20px 'librebaskerville-italic', serif;
  padding-left: 10px;
  padding-right:10px;
}
@media only screen and (max-width: 900px){
  .secondJob {
    font: bold 15px/19px 'Montserrat' , sans-serif;
    text-align: center;
  }
}

@media only screen and (max-width: 900px){
.secondJob ul{
    list-style-position: outside;
    font: italic lighter 15px/15px 'librebaskerville-italic', serif;
    text-align: justify;
    margin-left:10px;
    
  }
}

/*Project page */

#Projects.fullpage{
  background: #BBBBBB no-repeat center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}

@media only screen and (max-width: 900px){
 #Projects.fullpage{
  background: #BBBBBB no-repeat center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height:auto;
  }
  }
#Projects {
  display:flex;
  flex-direction: column;
}


#firstRow{
  display:flex;
  flex-direction:row;
}

@media only screen and (max-width: 900px){
  #firstRow{
   flex-direction: column;
   align-items: center;
  }
}
.firstProject {
  margin: 15vh 0vh 0vh 27vw;
}
.firstProject h1{
  border-bottom: 3px solid #3D9970;
  
}
@media only screen and (max-width: 900px){
.firstProject{
    margin: 10vh 0 0 0vw;
  }
}
.firstProject img{
  width: 250px; 
  height: 250px;
}

.links li{
  display:inline-block;
  padding-right: 15px;
}

.links li a{
  color: black;
  text-decoration: none;
  font-size: 1.5vh;
  font-family: sans-serif;
  text-transform: uppercase;
  
}
.links li a:hover{
  background-color:#D2B48C;
}

.secondProject{
  margin-left: 25vw;
  margin-top: 15vh;
 
}
@media only screen and (max-width: 900px){
  .secondProject{
    margin: 10vh 0 0
  }
}

.secondProject h1{
  border-bottom: 3px solid #3D9970;
}

.secondProject img{
  width: 250px; 
  height: 250px;
}

.link2 li{
  display:inline-block;
  padding-right: 15px;
}

.link2 li a{
  color: black;
  text-decoration: none;
  font-size: 1.5vh;
  font-family: sans-serif;
  text-transform: uppercase;
}
.link2 li a:hover{
  background-color:#D2B48C;
}

#secondRow{
  display:flex;
  flex-direction: row;
}

@media only screen and (max-width: 900px){
  #secondRow{
    flex-direction: column;
    align-items: center;
  }
}

.thirdProject{
  margin-left: 27vw;
  margin-top: 5vh;
}
@media only screen and (max-width: 900px){
  .thirdProject{
    margin: 10vh 0 0 0vw;
  }
  }
.thirdProject h1{
  border-bottom: 3px solid #3D9970;
}
.thirdProject img{
  width: 250px; 
  height: 250px;
}

.link3 li{
  display:inline-block;
  padding-right: 15px;
}
.link3 li a{
  color: black;
  text-decoration: none;
  font-size: 1.5vh;
  font-family: sans-serif;
  text-transform: uppercase;
}
.link3 li a:hover{
  background-color:#D2B48C;
}

.fourthProject{
  margin-left: 25vw;
  margin-top: 5vh;

}

@media only screen and (max-width: 900px){
  .fourthProject{
    margin: 10vh 0 0 0vw;
  }
  }

.fourthProject h1{
  border-bottom: 3px solid #3D9970;
}
.fourthProject img{
  width: 250px; 
  height: 250px;
}

.link4 li{
  display:inline-block;
  padding-right: 15px;
}
.link4 li a{
  color: black;
  text-decoration: none;
  font-size: 1.5vh;
  font-family: sans-serif;
  text-transform: uppercase;
}

.link4 li a:hover{
  background-color:#D2B48C;
}
