body {
  margin:0;
  padding:0;  
  background: url('forest.jpg') no-repeat center;
  position: relative;
  height: 860px;
  min-height: 700px;
  background-size: cover !important;
 -webkit-background-size: cover !important;
  text-align: center;
  overflow: auto;

  }
#box .profile-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#box{
  width: 450px;
  background: rgba(0, 0, 0, 0.637);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top:5%;
  color: white;
  padding-bottom: 5px;
  font-family: 'Century Gothic', sans-serif;
}

#box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

#box h5{
  font-size: 25px;
  letter-spacing: 3px;
}

#box p{
  text-align: justify;
}

#box ul{
  margin: 0;
  padding: 0;
}

#box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}

#box li a {
  color: white;
  font-size: 50px;

}
#box li a:hover{
  color:#b9b9b9;
}
#mainNav .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}
#mainNav .container li {
  display: inline-block;
  padding: 0;
  
}